@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
i{
	font-family: fontawesome !important;
}
.header{
    background: #a8a8a8;
    color: #fff;
}
.header a{
    color: #fff;

}
.navbar-brand{
    margin-right: 80px;
}
.banner{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.circle{
    max-width: 80px;
    width: 80px;
    height:80px ;
    border-radius: 50px;
    background-color: #fff;
   position:relative

    


}